
<head>
    <title>Dark Web Monitoring Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="../js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="section-menu">
        <div class="menu-header">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../images/lr-logo.svg" /></a>
            <span style="display:block;margin-left:20px">Dark Web Monitoring Demo</span>
            <div class="button-group">
                @*<a asp-area="" asp-controller="Home" asp-action="Index">Minimal</a>
                <a asp-area="" asp-controller="Home" asp-action="LoginScreen">Login Screen</a>*@
            </div>
        </div>
    </div>
    <div class="section-main">
        
        <div class="container">
            <h3>Email Verification</h3>
            <span id="minimal-verification-message"></span>
        </div>
    </div>
    <script src="../js/emailVerification.js"></script>
</body>